<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="co.smartooth.web.mapper.WebRegistMapper">

	
	    
    <!-- 학교 코드, 학생 회원, 부모 회원 시퀀스 조회 --> 
    <select id="selectSeqNoAll" resultType="co.smartooth.web.vo.WebSeqNoVO">
    
    	SELECT
    		SCH_SEQ_NO
    		,GR_SEQ_NO
    		,ST_SEQ_NO
    		,PA_SEQ_NO
    		,TC_SEQ_NO
    		,CO_SEQ_NO
    		,MA_SEQ_NO
    		,CLASS_SEQ_NO
    		,SEQ_STR
    	FROM ST_SEQUENCE
    	    	
    </select>
    
    
    <!-- 학교 코드, 학생 회원, 부모 회원 시퀀스 조회 --> 
    <update id="updateSeqNo" parameterType="String">
    
    	UPDATE ST_SEQUENCE
    	SET ${seqNm} = #{seqNo}
    	   	
    </update>
	

    <!-- 나라이름으로 나라 코드 조회 --> 
    <select id="selectCountryCd" parameterType="String" resultType="String">
		
		SELECT
			ISO_ALPHA2
		FROM ST_NATIONAL_INFO
		WHERE 1=1 
		AND NATIONAL_NAME_KOR LIKE CONCAT('%', #{countryNm}, '%')
		
    </select >

    
    <!-- 시도 이름으로 시도 코드 조회 --> 
    <select id="selectSidoCd" parameterType="String" resultType="String">
    
    	SELECT
    		SIDO_CD
    	FROM ST_ADDR_DEPT1
    	WHERE 1=1
    	AND SIDO_Nm = #{siDoNm}
    	
    </select>

    
    <!-- 시도 코드와 읍면동 이름으로 정보 조회--> 
    <select id="selectLocationInfo" parameterType="co.smartooth.web.vo.WebLocationVO" resultType="co.smartooth.web.vo.WebLocationVO">
    
    	SELECT
			SIDO_CD
			,SGGEMD_CD
			,SIGUNGU_NM
			,EUPMYEONDONG_NM
		FROM ST_ADDR_DEPT2
		WHERE 1=1
		AND SIDO_CD = #{sidoCd}
		<if test="sigunguNm != null and sigunguNm != '' ">
			AND SIGUNGU_NM = #{sigunguNm}	
   		</if> 
   		<if test="eupmyeondongNm != null and eupmyeondongNm != '' ">
			AND EUPMYEONDONG_NM LIKE CONCAT('%', #{eupmyeondongNm}, '%') 
   		</if> 
   		ORDER BY EUPMYEONDONG_NM ASC
		LIMIT 1
    	
    </select>
    
    
    <insert id="insertSchInfo" parameterType="String">
    	
    	INSERT INTO ST_SCHOOL_INFO 
    				(
	    				SCH_CD
	    				,SCH_NM
	    				,IS_VISIBLE
    				)
		VALUES	
					(
						#{schCd}
						,#{schNm} 
						,'N'
					)
    	
    </insert>
    
    
    <insert id="insertClassInfo" parameterType="String">
    	<!-- 변경해야함 -->
    	INSERT INTO ST_CLASS_INFO 
    				(
	    				CLASS_CODE
	    				,CLASS_NAME
    				)
		VALUES	
					(
						#{classCd}
						,#{classNm} 
					)
    	
    </insert>




	
	
</mapper>